# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/
ENV/
env/
.venv/
backend_log.txt

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
